/************Reset**************/
* {
	box-sizing: border-box;
}
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, fieldset, legend, label, table, header, footer, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
}
ol, ul {
	list-style: none;
}
header, footer, nav, section, article, hgroup, figure {
	display: block;
}
legend {
	display: none;
}
a {
  text-decoration: none;
	color: #111
}
/************End Reset**************/

/************Global**************/
h1,
h2 {
	font-family: "Permanent Marker", cursive;
}
/************End Global**************/

/************Structure**************/
header {
  position: relative;
	background: #111;
  width: 100%;
  margin: 0 auto;
  top: 0;
  overflow: hidden;
  text-align: left;
  display: block;
}
.app-bar h1 {
	color: #eee;
	font-size: 2.5em;
}
.logo {
	float: left;
	margin: 0 0 0 0.6em;
}
.nav-anchors {
	float: right;
	margin: .7em 0 0 0;
	border-bottom: 2px solid #f1c232;
}
	.nav-anchors a {
		padding: 0.5em 0.5em 0 0.5em;
		border-left: 1px solid #222;
		font-size: 1.3em;
		font-family: "Permanent Marker", cursive;
		color: #eee;
	}
.search {
	clear: both;
	border-top: 1px solid #222;
	padding: 0.4em 0.4em;
	position: relative;
}
	.search fieldset {
		margin: 0;
		padding: 0;
		border: 0;
	}
	.search label {
		display: none;
	}
	.search input[type=search] {
		background: url('search-2-256.png') no-repeat 95% 50% #eee;
		background-size: 20%;
		display: inline-block;
		color: #111;
		border: 2px solid #f1c232;
		font-size: 0.8em;
		border-radius: 0.5em;
		width: 95%;
		padding: 0 0.5em;
	}
	.search input[type=submit] {
		background: none;
		display: inline-block;
		padding: 0;
		border: 0;
		width: 2em;
		height: 2em;
		text-indent: -99999em;
		position: absolute;
		top: 0;
		right: 1em;
		z-index: 1;
		width: 14%;
		height: 100%;
	}
.nav {
	background: #333;
}
	.nav li {
		display: inline-block;
		width: 43%;
		padding: 0.3em;
		margin: 0.5em;
		background: #eee;
		border-radius: 0.5em;
		border: 2px solid #f1c232;
	}


/************End Structure**************/
