/************Reset**************/
* {
	box-sizing: border-box;
}
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, fieldset, legend, label, table, header, footer, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
}
ol, ul {
	list-style: none;
}
header, footer, nav, section, article, hgroup, figure {
	display: block;
}
legend {
	display: none;
}
a {
  text-decoration: none;
	color: #111
}
/************End Reset**************/

/************Global**************/
h1,
h2 {
	font-family: "Permanent Marker", cursive;
}

.btn {
	border: 2px solid #f1c232;
	border-radius: 0.5em;
	padding: 0.2em;
	background: #eee;
	font-family: 'Permanent Marker', cursive;
	color: #333;
	overflow: hidden;
}
/************End Global**************/

/************Structure**************/
header {
  position: relative;
	background: #111;
  width: 100%;
  margin: 0 auto;
  top: 0;
  overflow: hidden;
  text-align: left;
  display: block;
}
.app-bar h1 {
	color: #eee;
	font-size: 2.5em;
}
.logo {
	float: left;
	margin: 0 0 0 0.6em;
}
.nav-anchors {
	float: right;
	margin: .7em 0 0 0;
	border-bottom: 2px solid #f1c232;
}
	.nav-anchors a {
		padding: 0.5em 0.5em 0 0.5em;
		border-left: 1px solid #222;
		font-size: 1.3em;
		font-family: "Permanent Marker", cursive;
		color: #eee;
	}
.search {
	clear: both;
	border-top: 1px solid #222;
	padding: 0.8em 0.4em;
	position: relative;
}
	.search fieldset {
		margin: 0;
		padding: 0;
		border: 0;
	}
	.search label {
		display: none;
	}
	.search input[type=search] {
		background: url('search-2-256.png') no-repeat 95% 50% #eee;
		background-size: 20%;
		display: inline-block;
		color: #111;
		width: 95%;
		padding: 0 0.5em;
	}
	.search input[type=submit] {
		background: none;
		display: inline-block;
		padding: 0;
		border: 0;
		width: 2em;
		height: 2em;
		text-indent: -99999em;
		position: absolute;
		top: 0;
		right: 1em;
		z-index: 1;
		width: 14%;
		height: 100%;
	}
.nav {
	background: #333;
}
	.nav .nav-list {
		padding: 0 0.4em 0.6em;
	}
		.nav li {
			display: inline-block;
			width: 47%;
			margin: 0.4em 0;
			/*font-size: 1.1em;*/
		}
			.nav li:nth-child(even) {
				margin-left: 1em;
			}
			.nav .sort-btns li {
				background: url('generic-sorting-256.png') no-repeat -5% 50% #eee;
				background-size: 30%;
				text-indent: 2.8em;
			}

		.nav .site-nav li {
			border-width: 4px;
		}
			.nav .about {
				border-color: #76a5af;
			}
			.nav .you {
				border-color: #93c47d;
			}

.points {
	margin: 0.8em 1.2em 0;
}
	#new-point-anchor {

	}

/************End Structure**************/
